<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 600px;
        }
    </style>
</head>
<body>



<table width="90%">
    <tr>
        <td width="30%">
            <h3>{{ biwak.name }}</h3>
            <p><img src="{{ biwak.type.iconUrl }}">{{ biwak.type.name }}</p>
            <p>Współrzędne: N{{ biwak.latitude }} / E{{ biwak.longitude }}</p>
            <p><a href="{{ biwak.linkToOriginal }}">Opis</a></p>
        </td>
        <td width="70%" align="right"><div id="map"></div></td>
    </tr>
</table>


{% for description in biwak.descriptions %}
    {{ description.text }}
{% endfor %}
<br><br>
{% for image in biwak.images %}
    <img src="{{ image.link }}"><br/><br/>
{% endfor %}

<script>
    function initMap() {
        var uluru = {lat: {{ biwak.latitude }}, lng: {{ biwak.longitude }} };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googleMapApiKey }}&callback=initMap"></script>
</body>
</html>

